body {
  background-color: gray;
}

.App {
  width: 85%;
  text-align: center;
}

.logo {
  display: inline-block;
  position: fixed;
  width: 300px;
  text-align: center;
  z-index: 999;
}

.logo > img {
  width: 300px;
}
